@import "../../scss/utils";
@import url("//fastly.jsdelivr.net/font-iropke-batang/1.2/font-iropke-batang.css");

.post_content {
  font-size: 16px;
  line-height: 27px;
  font-family: "Iropke Batang", serif !important;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 23px 0;
  }

  h1 {
    font-size: 35px;
    line-height: 40px;
  }

  h2 {
    font-size: 28px;
    line-height: 35px;
    padding: 8px 20px;
    border-left: 10px solid $point-color2;
    background-color: #eee;
    counter-increment: h2-counter; /* h2가 나올 때마다 1 증가 */
    counter-reset: h3-counter; /* h2 안에서 h3는 다시 0부터 시작 */

    &::before {
      content: counter(h2-counter) ". ";
    }
  }

  h3 {
    counter-increment: h3-counter;
    font-size: 23px;
    line-height: 28px;
    color: $point-color;
    font-weight: 700;
  }

  p {
    font-size: 16px;
    line-height: 27px;
    margin: 16px 0;
    white-space: pre-wrap;

    code {
      color: #ff3860;
      background: #f9f1f3;
      padding: 4px;
    }
  }

  :global(.youtube) {
    display: block;
    aspect-ratio: 16/9;
    width: 600px;
    margin: 0 auto;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  img {
    width: 100% !important;
    height: auto !important;
  }

  code {
    padding: 0.25rem 0.5rem;
    margin: 0;
    font-size: 0.85em;
    border-radius: 3px;
    overflow-wrap: break-word;
  }

  :global(.tip) {
    padding: 0.1rem 1.5rem;
    border-left-width: 0.5rem;
    border-left-style: solid;
    margin: 1rem 0;
    border-color: #42b983;
    background-color: #f3f4f5;
    border-radius: 8px;
  }

  ol > li {
    list-style: decimal;
  }

  ul > li {
    list-style: disc;
  }

  ol,
  ul {
    padding-left: 20px;
  }

  table {
    display: block;
    overflow-x: auto;

    margin: 1rem 0;
    border-collapse: collapse;
  }

  tr {
    border-top: 1px solid #dfe2e5;

    &:nth-child(2n) {
      background: #f6f8fa;
    }
  }

  th,
  td {
    padding: 0.6em 1em;
    border: 1px solid #dfe2e5;
  }

  a {
    font-weight: 500;
    color: #3eaf7c;
    text-decoration: none;
    overflow-wrap: break-word;
  }

  u {
    box-shadow: inset 0 -10px 0 #a0fc8e;
    text-decoration: none;
    font-weight: 600;
  }
  :global {
    a.post_hyper_link {
      background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
      box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
      color: #fff;
      display: block;
      width: fit-content;
      line-height: 55px;
      padding: 0 40px;
      border-radius: 100px;
      font-weight: 700;
      font-size: 20px;
      font-family: $fontFamilySystem;
      background-size: 300% 100%;
      transition: all 0.4s ease-in-out;
      margin: 20px auto;

      &:hover {
        background-position: 100% 0;
        moz-transition: all 0.4s ease-in-out;
        -o-transition: all 0.4s ease-in-out;
        -webkit-transition: all 0.4s ease-in-out;
        transition: all 0.4s ease-in-out;
      }
    }

    div.post_box {
      padding: 25px 20px 10px;
      background-color: #f4f4f4;
      border-radius: 0px 0px;
      border: 1px solid #d9d9d9;
      line-height: 1.8;
    }
  }
}
